* {
    margin: 0%;
    padding: 0%;
    list-style: no;
}

body {
    background: url("images/bg2.jpg");

}

.sidebar {
    background-color: rgb(190, 181, 181);
    transition: transform 0.3s ease-in;
    height: 100vh;
    padding: auto;
}
.sidebar nav {
    padding: 48px;
}
.sidebar nav li {
    list-style: none;
    font-size: 10px;
    padding: 20px 0;
}
.sidebar nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.sidebar1 {
    background-color: rgb(190, 181, 181);
    transition: transform 0.3s ease-in;
    height: 100vh;
    padding: auto;
}
.sidebar1 nav {
    padding: 48px;
}
.sidebar1 nav li {
    list-style: none;
    font-size: 10px;
    padding: 20px 0;
}
.sidebar1 nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.main {
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    height: 48vh;
    width: 80vw;
    margin: 90px auto;
    position: relative;
}

.divinfo {
    display: flex;
    flex-direction: column;
    background-position: left;
    position: absolute;
    top: 35px;
    left: 80px;
    font-size: 30px;
}

.hello {
    font-size: 30px;
    font-family: monospace;
    color: rgb(45, 26, 63);
}

.name {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(28, 16, 29);
}

.about {

    font-size: 15px;
    font-family: cursive;
}

.moreabout {
    font-size: 12px;
    font-family: serif;
}

.Buttons button {
    padding: 8px 2px;
    border-radius: 12px;
    color: white;
    background-color: rgb(72, 175, 216);
    font-size: 8px;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
    font-family: cursive;
}

.Buttons button:hover {
    background-color: rgb(8, 110, 179);
    color: rgb(245, 242, 242);
}

.devpic img {

    height: 48vh;
    background-position: right;
    position: absolute;
    top: 0;
    right: 0;
}

.contactform {
    padding-top: 100px;
    padding: 0 30px;
    font-family: sans-serif;
}

.contactform h1 {
    font-family: cursive;
    text-align: left;
}

.contactform div {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.contactform div input {
    width: 250px;
    border-radius: 4px;
    margin: 4px 0;
    padding: 2px;
    ;
}

#emailHelp {
    font-size: 10px;
    color: rgb(107, 107, 107);
    margin: 0 5px;
}

#form-check {
    font-family: cursive;
    flex-direction: row;
}

#isclient {
    width: unset;
}

.btn {
    font-family: cursive;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    background-color: rgb(61, 211, 211);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(32, 199, 199);
    color: rgb(248, 246, 246);
}

h1 {
    font-family: cursive;
    margin: 23px;
}

p {
    font-family: 'Courier New', Courier;
}

.intro h2 {
    font-family: cursive;
    margin: 23px;
}

.intro p {
    padding: 15px;
    font-family: 'Courier New', Courier;
}

.skillcontainer {
    padding: 17px;
}

.skillitem {
    display: flex;
    align-items: center;
}

.skill {
    width: 150px;
    height: 8px;
    background-color: rgb(132, 0, 255);
}

.hundered {
    width: 80%;
    background-color: rgb(150, 14, 93);
    border-radius: 15px;
}

.fifty {
    width: 50%;
    background-color: aqua;
    border-radius: 15px;
}

.twenty {
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
}

.service {
    padding: 0 59px;
}

.service {
    color: rgba(22, 72, 92, 0.884);

}

#services {
    color: rgba(48, 8, 8, 0.959);
}

#servicehead {
    color: rgb(12, 12, 58);
}

.about {
    color: rgb(15, 6, 53);
}

.about1 {
    color: rgb(63, 6, 39);
}
@media (max-width: 768px) {
    .sidebar {
        height: inherit;
    }
    
    .sidebar nav {
        padding: 20px;
    }

     .sidebar nav a{
        font-size: 14px;
        padding: 10px 0;
    }
    .sidebar1 {
        height: 120vb;
    }
    
    .sidebar1 nav {
        padding: 20px;
    }

     .sidebar1 nav a{
        font-size: 14px;
        padding: 10px 0;
    }

    .main {
        width: 100vw;
    }

    .infocontainer {
        height: auto;
        width: 90vw;
        margin: 30px auto;
    }

    .divinfo {
        left: 0;
    }

    .devpic img {
        width: 100%;
         
       display: none;
        
    }

    .contactform {
        padding: 20px;
    }

    .contactform h1 {
        text-align: left;
    }
} 